<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Crypto Prices</title>
    <style>
        body {
            position: absolute;
            text-align: center;
            align-items: center;
            align-self: center;
            padding-left: 40%;
        }
    </style>
</head>


<body>
    <div>
        <h2>
            <marquee>---For testing purposes only---</marquee>
        </h2>
        <a href="index.html">Back to Home</a>
    </div>
    <br>
    <h1>Price for <span data-th-text="${coin}"></span></h1><br>
    <h3>Current Price in <span data-th-text="${currency}"></span></h3><br>
    
    <div data-th-each="l: ${list}" style="text-align: center;"> 
        <table>
            <tr>
                
                <td>
                    <strong data-th-text="${l.getCoin}"></strong>
                    <strong data-th-text="${l.getCurrency}"></strong>
                    <strong data-th-text="${l.getPrice}"></strong>
                </td>
            </tr>
        </table>

    </div>

</body>



</html>