<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Crypto Prices</title>
    <style>
        body {
            margin: auto;
            display: flex;
            justify-content: center;
            /* for horizontal */
            align-items: center;
            /* for vertical */
            padding-top: 200px;
        }
    </style>
</head>


<body>
    <div>
        <h2>
            <marquee>---Welcome---</marquee>
        </h2>
        <br><h3><a href="index.html" style="align-self: center; justify-content: center;">Back to Home</a></h3>
    </div>
    <br>
<br>
    <div data-th-each="l: ${list}" style=" border-style: dashed; text-align: center; padding-right: 120px; padding-left: 120px; align-self: center; ">
        <table>
            <tr>
                <td>
                    <h1>Price for <span data-th-text="${l.getCoin}"></span></h1><br>
                    <h3>Current Price in <span data-th-text="${l.getCurrency}" style="color: red;"></span></h3><br>
                    <h4>Latest Price: <strong data-th-text="${l.getPrice}" style="color: green;"></strong></h4>
                </td>
            </tr>
        </table>

    </div>

</body>



</html>