<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latest News Articles</title>
    <style>
        body {
            margin: auto;
            display: flex;
            justify-content: center;
            /* for horizontal */
            align-items: center;
            /* for vertical */
            padding-top: 200px;
        }
    </style>
</head>


<body>
    <div>
        <br>
        <h3><a href="index.html" style="align-self: center; justify-content: center;">Back to Home</a></h3>
    </div>
    <br>
     

</body>



</html>